
@import 'mscalc/gui/Base';
@import 'mscalc/gui/views/Common';

@mixin roundedBorder() {
        -fx-border-color: darkgray;
        -fx-border-radius: 4;
}

@mixin selectArea() {
        @include roundedBorder();
        -fx-padding: 0.25em 0.5em;
        -fx-spacing: 1em;

        -fx-alignment: center-left;
}

@mixin indicator() {
        @include roundedBorder();
        -fx-pref-width: 3.3em;
        -fx-pref-height: 3.3em;
        -fx-alignment: center;
}

.scientificView {
    -fx-padding: 0.75em;

    .display {
        -fx-focus-traversable: false;
        -fx-alignment: center-right;

        -fx-opacity: 1;

        @include roundedBorder();
    }

    .button {
        -fx-pref-width: 3.3em;
        -fx-padding: 0.333333em 0.2em;

        // disable focus on buttons
        -fx-focus-traversable: false;

        &.basicOperation {
            -fx-text-fill: red;
        }

        &.inputButton {
            -fx-text-fill: blue;
        }

        &.advancedOperation {
            -fx-text-fill: magenta;
        }
    }

    .radio-button {
        -fx-focus-traversable: false;
    }

    .check-box {
         -fx-focus-traversable: false;
    }

    .buttonGrid {
        -fx-hgap: 0.25em;
        -fx-vgap: 0.0em;
    }

    .controlButtonsArea {
        -fx-spacing: 0.25em;

        .button {
            -fx-pref-width: 6em;
        }
    }

    .selectorsContainer {
        -fx-padding: 0.3em 0;
        -fx-spacing: 0.3em;
    }

    .selectBaseArea {
        @include selectArea();

        .radio-button {
            -fx-hgrow: always;
            -fx-max-width: Infinity;
        }
    }

    .selectAngleTypeArea {
        @include selectArea();
    }

    .functionSelectArea {
        @include selectArea();
    }

    .parenthesesCounter {
        @include indicator();
    }

    .memoryIndicator {
        @include indicator();
    }
}

